@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body {
    margin: 0;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.title {
    color: white;
    background: black;
    font-size: 50px;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    padding: 10px;
}

.subtitle {
    text-align: center;
    font-size: 40px;   
}

.seccion_fotos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: auto;
}

.caja_fotos {
    display: flex;
    flex-direction: column;
    width: 350px;
    background: #DFF1FF;
    align-items: center;
    padding: 20px 0;
    border-radius: 20px;
}

.foto {
    width: 300px;
    cursor: pointer;
    border-radius: 10px;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 50px;
    right: 55px;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


@media (max-width: 650px) {
    .caja_fotos {
        width: 100%;
        margin: 0 15px;
    }

    .foto {
        width: 90%;
    }
    
    .modal-content {
        width: 100%;
    }
    .modal {
        padding-top: 150px;
    }
}
